.second-navbar {
  display: none;
}

#iati-decipher .navbar {
  border-radius: 0;
  margin-bottom: 0;
}

#iati-decipher .navbar-inverse .navbar-toggle:hover, #iati-decipher .navbar-inverse .navbar-toggle:focus {
  background-color: #6dacc5;
}

#iati-decipher .navbar-inverse .navbar-collapse, #iati-decipher .navbar-inverse .navbar-form {
  border-color: #6dacc5;
}

#iati-decipher .navbar-inverse {
  background-color: #6dacc5;
  border-color: #6dacc5;
}

#iati-decipher .navbar-inverse .navbar-nav > .disabled > a, #iati-decipher .navbar-inverse .navbar-nav > .disabled > a:hover, #iati-decipher .navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
}

#iati-decipher .navbar-inverse .navbar-nav>.active > a, #iati-decipher .navbar-inverse .navbar-nav >.active > a:focus, #iati-decipher .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #448eab;
}

#iati-decipher .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

#iati-decipher .navbar-brand {
  padding: 0 15px;
}

#iati-decipher .list-group-item {
  margin-bottom: 15px;
}

#iati-decipher .dl-horizontal {
  margin-bottom: 0;
}

#loading-spinner > div {
  background: url('../img/loading.gif');
}

#iati-decipher #loading-spinner {
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#iati-decipher #loading-spinner > div {
  position: relative;
  top: 50%;
  left: 50%;
  width: 256px;
  height: 256px;
  transform: translate(-50%, -50%);
}

#org-name .badge {
  cursor: help;
}

#document-search-form {
  background-color: #f8f8f8;
  border: 1px #e7e7e7 solid;
  border-radius: 5px;
  padding: 20px;
}

/* Sticky footer stuff */
html#iati-decipher {
  position: relative;
  min-height: 100%;
}
#iati-decipher body {
  margin-bottom: 80px;
}
#iati-decipher .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding: 20px 0;
}
#iati-decipher .footer a {
  color: #555;
}

/* Popup stuff */

#iati-org-popup body {
  width: 350px;
  padding-top: 10px;
}

#iati-org-popup #loading-spinner {
  text-align: center;
}

#iati-org-popup #loading-spinner > div {
  display: inline-block;
  background-size: 100px;
  width: 100px;
  height: 100px;
}
