body {
  padding-top: 7rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.chart-container {
  position: relative;
  height: 40vh;
  width: 80vw;
}

li.pwyf-logo {
    padding:0;
}

li.pwyf-logo a, li.pwyf-logo a:hover {
    background:#fff !important;
    color:#fff;
    height:100%;
    padding:2px !important;
}

li.pwyf-logo a img, li.pwyf-logo a:hover img {
    height:45px;
    padding:3px;
}
