.second-navbar {
  display: none;
}

#iati-org-viz .navbar {
  border-radius: 0;
  margin-bottom: 0;
}

#iati-org-viz .navbar-inverse .navbar-toggle:hover, #iati-org-viz .navbar-inverse .navbar-toggle:focus {
  background-color: #6dacc5;
}

#iati-org-viz .navbar-inverse .navbar-collapse, #iati-org-viz .navbar-inverse .navbar-form {
  border-color: #6dacc5;
}

#iati-org-viz .navbar-inverse {
  background-color: #6dacc5;
  border-color: #6dacc5;
}

#iati-org-viz .navbar-inverse .navbar-nav > .disabled > a, #iati-org-viz .navbar-inverse .navbar-nav > .disabled > a:hover, #iati-org-viz .navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
}

#iati-org-viz .navbar-inverse .navbar-nav>.active > a, #iati-org-viz .navbar-inverse .navbar-nav >.active > a:focus, #iati-org-viz .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #448eab;
}

#iati-org-viz .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

#iati-org-viz .navbar-brand {
  padding: 0 15px;
}

#iati-org-viz .list-group-item {
  margin-bottom: 15px;
}

#loading-spinner {
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#loading-spinner > div {
  position: relative;
  background: url('../img/loading.gif');
  top: 50%;
  left: 50%;
  width: 256px;
  height: 256px;
  transform: translate(-50%, -50%);
}

#org-name .badge {
  cursor: help;
}

#document-search-form {
  background-color: #f8f8f8;
  border: 1px #e7e7e7 solid;
  border-radius: 5px;
  padding: 20px;
}

/* Sticky footer stuff */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding: 20px 0;
}
.footer a {
  color: #555;
}
